select:focus,
textarea {
  outline: none !important;
}
/* Right Component */

.app__creategroup-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.app__creategroup-content {
  display: flex;
  flex-direction: column;
}
.app__creategroup_content-header {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100px;
  cursor: context-menu;
}
.app__creategroup_content-header h2,
.app__creategroup_content-header h5 {
  margin-top: 30px;
  margin-left: 40px;
  text-transform: uppercase;
}
.app__creategroup_content-header h5 {
  margin-top: 0;
}
.app__creategroup-row {
  margin: 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 60px;
}
.app__creategroup-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px 0px 30px;
}
.spart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}
.line {
  width: 500px;
  height: 10px;
  background-color: black;
}
.app__creategroup-col label {
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 999px;
}
.app__creategroup-col input {
  height: 45px;
  background-color: var(--clr-black);
  border: var(--clr-black);
  color: var(--clr-white);
  padding: 10px;
  box-shadow: var(--light-shadow);
  transition: 0.3s ease-in;
  font-size: 18px;
}
.app__creategroup-col select {
  box-shadow: var(--light-shadow);
  height: 45px;
  padding: 10px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: var(--clr-black);
  font-size: 18px;
}

.app__creategroup_time-col {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 25px 0px 30px;
}
.app__creategroup_time-col label {
  display: block;
  line-height: 45px;
  font-size: 18px;
  text-transform: uppercase;
}
.app__creategroup_time-col input {
  box-shadow: var(--light-shadow);
  width: 320px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  padding-right: 10px;
  background-color: var(--clr-black);
  color: var(--clr-white);
  border: var(--clr-black);
  font-size: 18px;
}
.empty {
  background-color: black;
  border-radius: 50px 0px 0px 50px;
}
.empty1 {
  background-color: #fff;
  height: 60px;
  margin: 20px 0px 20px 20px;
  border-radius: 50px 0px 0px 50px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding-right: 61px;
}
.confirm-btn {
  width: 150px;
  height: 50px;
  margin: 0;
  background-color: black;
  border: 0;
  color: var(--clr-white);
  border-radius: 999px;
  box-shadow: var(--light-shadow);
  cursor: pointer;
  transition: transform 125ms ease-in;
}
.confirm-btn:hover,
.confirm-btn:focus-visible {
  transform: scale(1.1);
}
.app__creategroup-col input:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: all 0.3s ease-in;
  border: 1px solid var(--clr-black);
}
.app__creategroup-col select:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: all 0.3s ease-in;
  border: 1px solid var(--clr-black);
}

.app__creategroup-col input,
select {
  transition: 0.3s;
  animation: ease-out;
}
select:focus,
textarea {
  outline: none !important;
}

.btn-outline-primary {
  color: #007bff;
  background-color: transparent;
  background-image: none;
  border-color: #007bff;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #062241;
  border-color: #062241;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}

.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}
.btn-check:focus + .btn,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.bd-example > .btn,
.bd-example > .btn-group {
  margin: 0.25rem 0.125rem;
}
.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: var(--clr-black);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-check:checked + .btn-outline-primary:focus {
  color: #fff;
  background-color: #062241;
  border-color: #062241;
}

.btn-check:checked + .btn-outline-primary {
  color: #fff;
  background-color: #062241;
  border-color: #062241;
}

.tranining_days {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.cancel-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 25px;
  cursor: pointer;
}
