/*
.app__whatdo-continer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app__whatdo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.app__whatdo-header {
  background-color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  cursor: context-menu;
}

@media screen and (max-width: 500px) {
  .app__whatdo-header {
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 25px;
  }
}
*/
.app__whatdo-container {
  max-width: 1370px;
  padding: 80px 0px;
  height: auto;
  margin: auto;
  overflow: auto;
}
.app__whatdo-content-header {
  max-height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}
.app__whatdo-content-header h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.app__container_content-first {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  background: url("../../Images/Section1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app__container_content-second {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../Images/Section2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app__container_content-third {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../Images/Section3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app__container_content-fourth {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../Images/Section4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app__container_content-fifth {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../Images/Section5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.app__card-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  margin-bottom: 2rem;
  max-width: 780px;
  border-radius: 50px;
}
.app__card-first > div,
.app__card-second > div,
.app__card-third > div,
.app__card-fourth > div,
.app__card-fifth > div {
  padding: 1.5rem;
  background-color: black;
  color: #fff;
}

.app__card-second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  margin-bottom: 2rem;
  max-width: 780px;
  border-radius: 50px;
}
.app__card-third {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  margin-bottom: 2rem;
  max-width: 780px;
  border-radius: 50px;
}
.app__card-fourth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  margin-bottom: 2rem;
  max-width: 780px;
  border-radius: 50px;
}
.app__card-fifth {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  background: #fff;
  max-width: 780px;
  border-radius: 50px;
}

.app__card-first img,
.app__card-second img,
.app__card-third img,
.app__card-fourth img,
.app__card-fifth img {
  width: 100%;
  border-radius: 30px 0px 0px 30px;
  height: 350px;
}
.app__card-second img {
  border-radius: 0px 45px 45px 0px;
}
.app__card-fourth img {
  border-radius: 0px 45px 45px 0px;
}
.app__card-first h3,
.app__card-second h3,
.app__card-third h3,
.app__card-fourth h3,
.app__card-fifth h3 {
  margin: 0.7rem auto;
  text-transform: uppercase;
  font-size: 30px;
}
.app__card-first P,
.app__card-second P,
.app__card-third P,
.app__card-fourth P,
.app__card-fifth P {
  text-transform: uppercase;
  text-align: start;
  word-spacing: 0.4rem;
}

/*
.app__container_content-first {
  /* background image 
}*/

/* Responsive */
@media screen and (max-width: 730px) {
  .app__card-first,
  .app__card-second,
  .app__card-third,
  .app__card-fourth,
  .app__card-fifth {
    display: block;
    margin: 0px 48px 0px 48px;
    margin-bottom: 2rem;
  }
  .app__card-first img,
  .app__card-third img,
  .app__card-fifth img {
    border-radius: 45px 45px 0px 0px;
  }
  .app__card-second img,
  .app__card-fourth img {
    border-radius: 0px 0px 45px 45px;
  }
  .app__whatdo-content-header h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
}
