.app__sendcode-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.app__sendcode-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 30vw;
  background-color: var(--clr-black);
  border-radius: 25px;
}

.app__sendcode_content-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  cursor: context-menu;
  color: #fff;
  margin-top: 10px;
}
.app__sendcode-content h3 {
  color: white;
}
.app__sendcode-col {
  position: relative;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 40px;
}
.app__sendcode-col input {
  height: 35px;
  background-color: var(--clr-white);
  border: var(--clr-black);
  border-radius: 50px;
  color: var(--clr-black);
  padding: 10px;
  transition: 0.3s ease-in;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
}

.btn--container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.confirm--btn {
  width: 100px;
  height: 40px;
  margin: 7px;
  background-color: var(--clr-white);
  border: 0;
  color: var(--clr-black);
  border-radius: 999px;
  box-shadow: var(--light-shadow);
  cursor: pointer;
  transition: transform 125ms ease-in;
}
.close--btn {
  position: absolute;
  right: 25px;
  font-size: 20px;
  cursor: pointer;
}
.confirm--btn:hover,
.confirm--btn:focus-visible {
  transform: scale(1.1);
}
