.app__popup_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
}
.app__popup_content {
  width: 60vw;
  height: 450px;
  background-color: var(--clr-black);
  border-radius: 25px;
}

.app__editemployeepersonal_content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  cursor: context-menu;
  color: #fff;
  margin-top: 10px;
 
}
.app__editemployeepersonal_content-header h2 {
  font-size: 20px;
}
h2 {
  margin: 0;
}
.app__editemployeepersonal-row {
  margin: 0px 12px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}
.app__editemployeepersonal-col {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 50px 0px 30px;
}
.app__editemployeepersonal-coll {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}
.app__editemployeepersonal-col label {
  font-size: 15px;
  margin-bottom: 10px;
  color: #fff;
}
.app__editemployeepersonal-coll label {
  font-size: 15px;
  color: #fff;
}
.app__editemployeepersonal-coll input {
  height: auto;
  margin: 0px 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid var(--clr-white);
  transition: 0.2s all linear;
}
.app__editemployeepersonal-coll input:checked {
  border: 6px solid black;
}
.app__editemployeepersonal-col input {
  height: 40px;
  background-color: var(--clr-white);
  border: var(--clr-black);
  color: var(--clr-black);
  padding: 10px;
  transition: 0.3s ease-in;
  font-size: 15px;
}
.app__editemployeepersonal-col select {
  height: 40px;
  padding: 10px;
  background-color: var(--clr-white);
  color: var(--clr-black);
  border: var(--clr-black);
  font-size: 15px;
}
.btn-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  padding-right: 61px;
}
.confirm-btn {
  width: 150px;
  height: 50px;
  margin: 0;
  background-color: black;
  border: 0;
  color: var(--clr-white);
  border-radius: 999px;
  cursor: pointer;
  transition: transform 125ms ease-in;
}
.confirm-btn:hover,
.confirm-btn:focus-visible {
  transform: scale(1.1);
}
.app__editemployeepersonal-col input:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: all 0.3s ease-in;
  border: 1px solid var(--clr-black);
}
.app__editemployeepersonal-col select:focus {
  background-color: var(--clr-white);
  color: var(--clr-black);
  transition: all 0.3s ease-in;
  border: 1px solid var(--clr-black);
}

.app__editemployeepersonal-col input,
select {
  transition: 0.3s;
  animation: ease-out;
}

.style_btn {
  width: 125px;
  height: 35px;
  background: var(--clr-white);
  color: var(--clr-black);
  border: var(--clr-white);
  border-radius: 25px;
  cursor: pointer;
  text-transform: uppercase;
}
.style_btnprev {
  background: var(--clr-white);
  color: var(--clr-black);
  border: var(--clr-white);
  border-radius: 25px;
  width: 100px;
  height: 25px;
  display: flex;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;
}

select:focus,
textarea {
  outline: none !important;
}
input[type="radio"]:focus,
textarea {
  outline: none !important;
  box-shadow: none !important;
}
